*{
    margin:0px%;
    padding:0px;
    font-family: "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

#wrapper-div{
    margin:auto;
    background-color:black;
    }
body{
    background-color:black;
}
p{
    color:white;
    font-family: "Helvetica Neue", sans-serif;
    padding: 8px;
    font-size:large;
    text-align: center;
}
nav{
    text-align:center;
    font-family: "Helvetica Neue", sans-serif;
    background-color:white;
    line-height: 50px;
    font-size:large;
    margin-bottom: 10px;
    float: left;
    width:100%;
    word-spacing: 60px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: white;
    text-align: center;
  }
  img{
      float:left;
      width:33.3%;
      height:33.3%
  }
  ul{
      text-align: center;
      float: center;
      width:100%;
  }