*{
    color: white;
    font-family: "Helvetica Neue", sans-serif; 
    box-sizing: border-box; 
}

.clearfix::after{
    content:"";
    clear: both;
    display: block;
    margin-bottom: 60px;
}

#para1-div{
margin-bottom: 200px;
font-size: 70px;
}

#mainpic-div{
    width: 100%;
}
#box1-div{
    width: 100%;
    margin-bottom: 30px;
}

#box1a-div{
    width:50%;
    margin: 40px;
    float: left;
    height:300px;
    text-align: center;
    font-size: 0.8cm;
}

#box1b-div{
    float: right;
    margin-right: 100px;
}

#box2-div{
    width: 100%;
    font-size:large;
    margin-bottom: 40px;

}

#box2a-div{
    float: left;
    margin-left: 20px;
}

#box2b-div{
    width:40%;
    margin: 50px;
    float: right;
    height:300px;
    text-align: center;
    font-size: 0.8cm;
}

body{
    background-color: black;
    width:100%;
}

p{
    color:white;
    font-family: "Helvetica Neue", sans-serif;
}