*{
    color: white;
    font-family: "Helvetica Neue", sans-serif; 
    box-sizing: border-box; 
}

.clearfix::after{
    content:"";
    clear: both;
    display: block;
    margin-bottom: 60px;
}

nav{
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    background-color:black;
    line-height: 40px;
    font-size:medium;
    margin-bottom: 10px;
    float: left;
    width:100%;
}

#navbar img{
    width:10%;
    float:left;
    height: 40px;
    width: 60px
}
#navbar a{
    width:12.857%;
    float:left;
    padding-left: 20px;
    color:#D6D6D6;
    font-family: "Helvetica Neue", sans-serif;
    text-decoration: none;
    background-color: #323233;
}
#navbar{
  width:100%;

}

#para1-div{
margin-bottom: 200px;
font-size: 3cm;
}

#mainpic-div{
    width: 100%;
}
#box1-div{
    width: 100%;
    margin-bottom: 30px;
}

#box1a-div{
    margin-top: 1.3cm;
    width:50%;
    margin-left: 80px;
    float: left;
    height:300px;
    text-align: center;
    font-size: 0.8cm;
}

#box1b-div{
    float: right;
    margin-right: 100px;
}

#box2-div{
    width: 100%;
    font-size:large;
    margin-bottom: 40px;

}

#box2a-div{
    float: left;
    margin-left: 40px;
}

#box2b-div{
    margin-top: 2cm;
    width:40%;
    margin-right: 80px;
    float: right;
    height:300px;
    text-align: center;
    font-size: 0.8cm;
}

#para3-div{
    margin-left: 80px;
    font-size: 3cm;
    margin-bottom:1cm;
}

#box3-div{
    width: 100%;
    margin-bottom: 5cm;
}

#box3a-div{
    width:40%;
    float: left;
    height:300px;
}

#box3b-div{
    margin-top:1.5cm;
    width: 50%;
    float: right;
    font-size: 0.8cm;
    text-align: center;
    margin-right: 80px;
}

#para4-div{
    font-size: 0.8cm;
    margin-bottom: 1cm;
}

#Support{
    text-align:center;
    font-family: "Helvetica Neue", sans-serif;
    line-height:40px;
    font-size:medium;
    margin-bottom: 10px;
    float: left;
    width:100%;
    color:#86868B;
  }
  
  #Support a{
    color:#86868B;
  }

body{
    background-color: black;
    width:100%;
}

p{
    color:white;
    font-family: "Helvetica Neue", sans-serif;
}